body {
 margin: 0 auto;
 min-width: 320px;
 max-width: 480px;
}

a:link, a:visited {
 font-style: normal;
 text-decoration:none;
}

img {
 border: 0 none;
 height: auto;
 max-width: 100%;
 vertical-align: middle;
}

.header {
 position: relative;
 width: 100%;
}

.container {
 margin: 0 auto;
 min-height: 300px;
 width: 100%
}

.products-list {
 overflow: hidden;
 margin-top: 10px;
}

.products-list .product {
 width: 12.5%;
 height: 60px;
 float: left;
 text-align: center;
 box-sizing: border-box;
 display: block;
 padding: 5px;
 font-size: 1.07142em;
 position: relative;
 background: #36A1DB;
 border: 1px solid #ffffff;
 margin-left: auto;
 margin-right: auto;
}
.box_no{
	margin-top: -6px;
    font-size: 10px;
}
.products-list .product2 {
 width: 25%;
 height: 60px;
 float: left;
 text-align: center;
 box-sizing: border-box;
 display: block;
 padding: 5px;
 font-size: 1.07142em;
 position: relative;
 background: #36A1DB;
 border: 1px solid #ffffff;
 margin-left: auto;
 margin-right: auto;
}

.wxpay_content {
 margin-top: 20px;
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}

.wxpay_title {
 color: #9ACD32
}

.wxpay_value {
 color: #f00;
 font-size: 18px
}

.wxpay_image {
 clear: both; 
 display: block; 
 width: 100px;
}

.wxpay_button {
 margin-top: 20px;
 width: 100%;
 height: 50px;
 border-radius: 15px;
 background-color: #FE6714;
 border: 0px #FE6714 solid;
 cursor: pointer;
 color: white;
 font-size: 16px;
}

.open_button {
 margin-top: 20px;
 width: 100%;
 height: 50px;
 border-radius: 15px;
 background-color: #004040;
 border: 0px #004040 solid;
 cursor: pointer;
 color: white;
 font-size: 16px;
 width: 100%;
}

.return_button {
 margin-top: 20px;
 width: 100%;
 height: 50px;
 border-radius: 15px;
 background-color: #C0C0C0;
 border: 0px #C0C0C0 solid;
 cursor: pointer;
 color: white;
 font-size: 16px;
 width: 100%;
}

.footer {
 margin: 10px auto 50px;
 text-align: center;
 font-size: 10px;
}

.checkbox {
 width: 100%;
 height: 40px;
 margin-left: auto;
 margin-right: auto;
}

.submit {
    /* margin: 0px; */
    width: 100%;
    height: 40px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background: #ff8b22;
    position: fixed;
    left: 0;
    bottom: 0;
}